<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
</head>
<body>
  <h1>Messages:</h1>
  <ul>
    <% messages.forEach(message => { %>
      <li>
        <strong><%= message.title %></strong>
        <p><%= message.text %></p>
      </li>
    <% }); %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
